@import "~common_scss/form.module.scss";

.form {
  @extend .flex-row;
}

.left {
  flex: 1;
  border: 1px solid black;
  margin-right: 0.5rem;
}

.right {
  flex: 1;
  border: 1px solid black;
  input {
    margin-bottom: 0.5rem;
  }
}

.left_row {
  margin-left: 1rem;
}

.right_row {
  margin-left: 1rem;
}

.title {
  width: 20rem !important;
}

.small {
  width: 25rem;
}

.medium {
  width: 35rem;
}

.large {
  width: 60rem;
}

.header_table {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4rem;
  font-family: Arial;
}

.group_button {
  // góc dưới bên phải
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;

  button {
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.4rem;
    font-family: Arial;
    width: 10rem;
    height: 3rem;
  }
}

.container {
  // position: relative;
  height: 68rem;
  width: 150rem;
}
