@import "~common_scss/form.module.scss";

.info_query {
  display: flex;
  flex-direction: row;
  justify-content: center;
  label {
    width: fit-content;
  }
  button {
    margin-left: 1rem;
  }
}

.header_table {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4rem;
  font-family: Arial;
}

.container {
  height: 68rem;
  width: 150rem;
}
