.ant-space-item {
  font-size: 1.7rem;
}

.css-10hburv-MuiTypography-root {
  font-size: 1.4rem;
  font-family: "Arial";
}

tr {
  break-inside: avoid;
}

.MuiInputBase-input {
  font-size: 1.4rem !important;
  font-family: "Arial" !important;
}

.MuiTooltip-tooltip {
  /* tăng kích thước cho mục chỉ dẫn, để chú dễ thấy */
  font-size: 1.5rem !important;
}