* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-image: linear-gradient(
    to right bottom,
    #e4931e,
    #e68211,
    #e87009,
    #ea5b0b,
    #eb4112
  );
}

html {
  font-size: 62.5%;
}

.area_header {
  background-image: var(--background-image);
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.area_body {
  max-height: 50% !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
