.ma_giay {
  position: relative;
}

.table_ma_giay {
  display: none;
  position: absolute;
  flex: 2;
}

// .ma_giay:hover + .table_ma_giay {
//   display: block;
//   color: red;
// }
.input_ma_giay:hover + .table_ma_giay {
  display: block;
  color: red;
}

.stinput_ma_giayar::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 500%;
  height: 500%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // z-index: -1;
  border: 1px solid green; /* for demo purposes */
}
