.ant-modal-title {
  background-color: rgba(102, 169, 195, 0.493);
  font-size: 20px !important;
}
/* .ant-modal-close-icon {
  background-color: red;
  color: white;
  transform: translateY(-15px) translateX(15px);
} */
.ant-modal-close-x {
  background-color: red;
  color: white;
  transform: translateY(-15px) translateX(15px);

}
  /* lam sao dung custom theo pixel ta ??? => chuyen qua xai rem */


.ant-modal-content {
  width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 0px 0px 0px !important;
  border: 1px solid black !important;
}

.ant-form-item {
  margin-bottom: 4px; 
}

.ant-input {
  border-radius: 0% !important;
  padding-left: 4.5px;
}