html {
    font-size: 62.5%;
  }
.form {
    display: flex;
    justify-content: center;
}

.form label {
    width: 6.25rem;
}

.form_context_span {
    display: inline-block;
    width: 12.5rem;
    border: 0.0625rem solid rgba(122, 116, 116, 0.3);
    padding: 0.3125rem;
    margin-left: 0.25rem;
    box-sizing: border-box;
    height: 2rem;
}

// first group component includes group_first__1 and group_first__2
.group_first {
    // background-color: burlywood;
    height: 16.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.group_first__1 {
    // background-color:darkkhaki;
    width: 37.5rem;
    padding: 0rem 0.3125rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group_first__1_row {
    display: flex;
    flex-direction: row;
}

.group_first__1_row input {
    width: 9.375rem;
}

// ========================
.group_first__2 {
    // background-color: crimson;
    width: 18.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group_first__2_image {
    display: flex;
    flex-direction: column-reverse;
}

.group_first__2_image_container {
    width: 100%;
    display: block;
    position: relative;
}

.group_first__2_image_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

// ===========================================

.group_second {
    // background-color:cadetblue;
    height: 9.375rem;
    width: 100%;
}

.group_second_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    // background-color: chartreuse;
}
.group_second_row__1 {
    width: 37.5rem;
    display: flex;
    // background-color:gray;
    flex-direction: row;
    padding: 0rem 0.3125rem 0rem 0rem;
}

.group_second_row__2 {
    display: flex;
    justify-content: space-between;
    width: 21rem;
    flex-direction: row;
    // background-color: aqua;
    
}

.group_second_row__2 input {
    width: 3.5rem;
}
.group_second_row__2_gia_von input {
    width: 14.8rem ;
}
// ============================================
.group_third {
    // background-color:rgb(160, 95, 99);
    height: 15.625rem;
    width: 100%;
    // padding-right: 1rem;
}

.group_third textarea {
    width: 21rem;
    height: 6.25rem;
}

.group_third_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// ============================================

.item_size_middle {
    width: 15.6rem;
}

.item_size_small {
    width: 12.5rem;
}

.item_size_big {
    width: 30rem;
}

