@import "~common_scss/form.module.scss";

.group_first {
  height: var(--height-region);
  width: 100%;
  @extend .flex-row;
  .group_first__left {
    width: 60rem;
    @extend .flex-column;
    .group_first__left_row {
      @extend .flex-row;
      margin-bottom: var(--margin-bottom-config);
    }
  }

  .group_first__right {
    width: 33.5rem;
    @extend .flex-column;
    .group_first__right_image {
      @extend .flex-column;
      border: var(--border-setting);
    }
  }
}

.group_second {
  .group_second_row {
    @extend .flex_row_space-between;
    margin-bottom: var(--margin-bottom-config);
    width: 100%;
  }
  .group_second_row__left {
    width: 60rem;
    @extend .flex-row;
  }
  .group_second_row__right {
    @extend .flex_row_space-between;
    width: 33.5rem;
    .group_second_row__right_pair {
      @extend .flex_row_space-between;
      width: 33.5rem;
      input {
        width: 4rem;
      }
      label {
        max-width: 9rem;
      }
      .label_custom {
        margin-left: 0.5rem;
      }
    }
    .group_second_row__right_gia_von {
      input {
        width: 20.7rem;
      }
    }
  }
}

.group_third {
  .group_third_row {
    @extend .flex_row_space-between;
    margin-bottom: var(--margin-bottom-config);
    textarea {
      width: 30rem;
      height: 7rem;
    }
    .group_third_row_item {
      @extend .flex-row;
    }
  }
}

.group_button {
  @extend .flex_row_space-between;
  margin-bottom: var(--margin-bottom-config);
  button:not(:first-child) {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}

.item_size_middle {
  width: 24rem;
}

.item_size_small {
  width: 15rem;
}

.item_size_big {
  width: 45rem;
}
