.tableCustom td {
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd;
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

// .tableCustom tr:first-child td {
//     background-color: aqua;
//     display: none;
// }

.tableCustom caption {
  color: red;
  font-size: 20px;
}
