@import "@GlobalStyle/global.module.scss";
@import "@common_scss/form.module.scss";

:root {
  --border-radius-size: 0.5rem;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .model__body {
    height: fit-content;
    background-color: white;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 3;
    border-radius: var(--border-radius-size);
    overflow: hidden;
  }

  .header_modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: var(--background-image);
    padding: 0.5rem;

    label {
      color: white;
      @extend .font-setting;
      font-size: 2rem;
    }
  }

  .button_close_modal {
    background-color: white;
    border-color: white;
    @extend .font-setting;
    font-size: 2rem;
    color: red;
    border-radius: 0.1rem;
  }

  .content_modal {
    max-height: 100%;
    overflow-y: auto;
    padding: 5px 24px;
  }
}
