@import "~common_scss/form.module.scss";

.print_page {
  padding: 0rem 4rem 0rem 4rem;
  width: 112rem;

  .print_object {
    margin-top: 3rem;

    .info_giay {
      @extend .font-setting;
      margin-bottom: 1rem;
      .info_row_giay {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      th {
        margin-top: auto;
        margin-bottom: auto;
      }
      img {
        height: 15rem;
        width: 15rem;
        object-fit: cover;
      }
    }
  }
}
