@page {
  size: auto;
}

.print_page {
  margin: 3rem 5rem 1rem 5rem;
  width: 79rem;

  label,
  input,
  textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6rem !important;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
  }

  label {
    display: inline-block;
    width: 10rem;
    font-weight: bold;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    div:nth-child(2) {
      margin-left: 1rem;
    }
    div:nth-of-type(odd) {
      input {
        border: none;
        width: 30rem;
      }
    }
    div:nth-of-type(even) {
      input {
        width: 15rem;
        border: none;
      }
    }
  }
  .row:nth-of-type(4) {
    textarea {
      width: 56rem;
      height: auto;
      border: none;
      overflow: auto;
      resize: none;
    }
  }
}
.area_button{
  display: flex;
  flex-direction: row-reverse;
}
.print_button {
  height: 2.5rem;
  width: 10rem;
  text-align: center;
  font-size: 1.6rem;
}