@import "~GlobalStyle/global.module.scss";

:root {
  --margin-bottom-config: 0.6rem;
  --height-region: auto;
  --height-image: 18rem;
  --padding-setting: 4px 11px;
  --border-setting: 0.1rem solid rgba(0, 0, 0, 0.3);
  --tag-div-margin-size: 1rem;
  --input-width-min: 10rem;
  --input-width-middle: 15rem;
  --input-width-big: calc(var(--input-width-middle) * 2);
}

.font-setting {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4rem;
  font-family: Arial;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex_row_space-between {
  @extend .flex-row;
  justify-content: space-between;
}

.flex_row_flex-end {
  @extend .flex-row;
  justify-content: flex-end;
}

.form {
  display: block;
  height: auto;
  input {
    display: inline-block;
    padding: var(--padding-setting);
    border: var(--border-setting);
    @extend .font-setting;
  }

  span {
    display: inline-block;
    width: 20rem;
    padding: var(--padding-setting);
    border: var(--border-setting);
    margin-left: var(--margin-bottom-config);
    @extend .font-setting;
  }

  button {
    padding: var(--padding-setting);
  }

  label {
    width: 10rem;
    display: inline-block;
    @extend .font-setting;
  }

  label:after {
    content: ":";
  }

  textarea {
    border: var(--border-setting);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: var(--height-image);
    object-fit: cover;
  }
}
