.fraction {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
  font-family: "Times New Roman";
}
.fraction > span {
  display: block;
  padding: 0.1em;
}
.fraction span.fdn {
  border-top: thin solid black;
}
.fraction span.bar {
  display: none;
}
