@import "~common_scss/form.module.scss";

.group_first {
  height: var(--height-region);
  width: 100%;
  @extend .flex-column;
  .group_first_row {
    margin-bottom: var(--margin-bottom-config);
  }
}

.group_second {
  height: var(--height-region);
  width: 100%;
  @extend .flex_row_space-between;
  .group_second_row {
    margin-bottom: var(--margin-bottom-config);
  }
}

.group_button {
  @extend .flex_row_flex-end;
  margin-bottom: var(--margin-bottom-config);
  button:not(:first-child) {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}

.item_size_middle {
  width: 24rem;
}

.item_size_small {
  width: 15rem;
}

.item_size_big {
  width: 45rem;
}
