.update_button {
    padding: 5px 10px;
    background-color:  #21aa5eb3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
  }
  
  .update_button:hover {
    opacity: 0.7;
  }

