@import "~common_scss/form.module.scss";

.info_query {
  display: flex;
  flex-direction: row;
  justify-content: center;
  label {
    width: fit-content;
  }
  button {
    margin-left: 1rem;
  }
}

.edit_button {
  padding: 5px 10px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete_button {
  padding: 5px 10px;
  background-color: #dc3545; 
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit_button:hover {
  opacity: 0.7; 
}

.delete_button:hover {
  opacity: 0.7; 
}

.view_button {
  padding: 5px 10px;
  background-color:  #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.view_button:hover {
  opacity: 0.7;
}
