@import "~common_scss/form.module.scss";

.container {
  height: 90vh;
  width: 80vw;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  .input_query {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.5fr 2fr;
    input[type="text"] {
      width: 12rem;
    }
    .pair:not(:first-child) {
      label {
        text-align: right;
        padding-right: 0.2rem;
      }
    }
    .pair:last-child {
      text-align: right;
      input {
        width: 80%;
      }
    }
  }

  .phan_cong {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr 2fr 3fr;

    row-gap: 0.5rem;
    span {
      width: 90%;
      height: 100%;
    }
    .title_phancong {
      grid-column: 1 / 5;
    }
    .info_thode {
      grid-column: 2/4 !important;
      width: 100%;
    }

    .phancong_remain {
      grid-column: 4/5;
      display: grid;
      grid-template-columns: 1fr 2.2fr;
      label {
        text-align: right;
        padding-right: 0.2rem;
      }
      input {
        width: 10rem;
      }

      .group_input_row {
        @extend .flex-row;
        justify-content: space-between;
      }
      .info_thoquai {
        grid-column: 1/3;
        width: 100%;
      }
    }

    .content_size {
      grid-column: 1/5;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      input {
        width: 7rem;
      }
      .pair_info:not(:first-child) {
        label {
          text-align: right;
          margin-right: 0.2rem;
        }
        text-align: right;
      }
    }
    .input_diengiai {
      grid-column: 2/5;
      grid-row: 5/6;
    }
  }

  .button_group_end_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      margin-left: 1rem;
      font-size: 1.7rem;
      min-width: 5rem;
      min-height: 2rem;
    }
    .button_left{
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

    }
    .button_right{
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .button_save{
        background-color:darkorange;
        border-color: darkorange;
        color: whitesmoke;
      }
      .button_save:hover {
        opacity: 0.8;
      }
      
    }
  }
}
