@import "~common_scss/form.module.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  .input_query {
    @extend .flex_row_space-between;
    .pair:not(:first-child) {
      label {
        text-align: right;
        padding-right: 0.2rem;
      }
    }
    span {
      width: 45rem;
    }
    select {
      margin-right: 1rem;
      width: 20rem;
    }
    input {
      width: 25rem;
    }

    .header_diendai {
      input {
        width: 50rem;
      }
    }
  }

  .button_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin-right: 1rem;
      width: 10rem;
      font-size: 1.7rem;
    }
  }

  .phan_cong {
    display: grid;
    grid-template-columns: 10rem 15rem 35rem 1fr;
    row-gap: 0.5rem;
    .title_phancong {
      grid-column: 1 / 5;
    }
    .phancong_remain {
      grid-column: 4/5;
      @extend .flex-row;
      justify-content: space-between;
      label {
        text-align: right;
        padding-right: 0.2rem;
      }
    }

    .pair_tho_quai {
      @extend .flex-row;
      justify-content: space-between;
      width: 100%;
      span {
        width: 76.5%;
      }
    }
    .phancong_span {
      width: 95%;
    }
    .content_size {
      grid-column: 1/5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .input_diengiai {
      grid-column: 2/5;
      grid-row: 5/6;
    }
  }
}
