@import "~common_scss/form.module.scss";

.group_button {
  @extend .flex_row_flex-end;
  margin-top: 1rem;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.page {
  height: 90vh;
  width: 90vw;
}

.update_button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40%;
}

.update_button:hover {
  opacity: 0.7;
}