@import "~common_scss/form.module.scss";

.group_button {
  @extend .flex_row_flex-end;
  margin-top: 1rem;
  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.page {
  height: 90vh;
  width: 85vw;
}
