.end_page {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5rem;
  break-inside: avoid;
  p {
    margin-bottom: 0.5rem;
    font-family: "Times New Roman";
  }
  p:last-child {
    text-align: center;
  }
}
