.end_page {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5rem;
  p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: "Arial";
  }
  p:last-child {
    text-align: center;
  }
}
