@import "~common_scss/form.module.scss";

.group_button {
  @extend .flex_row_space-between;
  margin-bottom: var(--margin-bottom-config);
  button:not(:first-child) {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}
